In [1]:
!pip install country_converter

Requirement already satisfied: country_converter in c:\users\desktop-pc\downloads\new folder\lib\site-packages (1.3.1)
Requirement already satisfied: pandas>=1.0 in c:\users\desktop-pc\downloads\new folder\lib\site-packages (from country_converter) (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\desktop-pc\downloads\new folder\lib\site-packages (from pandas>=1.0->country_converter) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\desktop-pc\downloads\new folder\lib\site-packages (from pandas>=1.0->country_converter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\desktop-pc\downloads\new folder\lib\site-packages (from pandas>=1.0->country_converter) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\desktop-pc\downloads\new folder\lib\site-packages (from pandas>=1.0->country_converter) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\desktop-pc\downloads\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0->country_converter) (1.17.0)

In [2]:
import pandas as pd 
from sqlalchemy import create_engine
import country_converter as coco

In [3]:
user = "root"
password = "Proverbs35"
host = "localhost"
database= "all_companies_joined_data"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

In [4]:
continent_query = "SELECT name, country from valid_comp_data"

In [5]:
continent_df = pd.read_sql(continent_query, engine)

In [6]:
cc = coco.CountryConverter()

In [7]:
continent_df["continent"] = cc.convert(names=continent_df["country"], to="continent")

In [8]:
continent_df

,name,country,continent
0,(DIA) Distribuidora Internacional de Alimentación,Spain,Europe
1,1-800-PetMeds,United States,America
2,1&1,Germany,Europe
3,11 bit studios,Poland,Europe
4,"111, Inc.",China,Asia
...,...,...,...
5678,Zura Bio,United States,America
5679,Zurich Airport,Switzerland,Europe
5680,Zurich Insurance Group,Switzerland,Europe
5681,Zydus Lifesciences,India,Asia
5682,Zymeworks,Canada,America

In [9]:
companies_continent_data = continent_df.to_csv("companies_continent_data.csv", index=False)

In [10]:
companies_continent_data = continent_df.to_sql("continent_data",con=engine, if_exists="replace", index=True)