In [1]:
import pandas as pd 
import numpy as np 
import os 
from sqlalchemy import create_engine
import glob

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\desktop-pc\downloads\new folder\lib\site-packages (1.1.2)

In [3]:
user = "root"
password = "Proverbs35"
host="localhost"
database = "raw_companies_data"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

csv_folder = "../Companies CSVs/"

In [4]:
for file in glob.glob(os.path.join(csv_folder, "*.csv")):
    df=pd.read_csv(file)

    table_name = os.path.splitext(os.path.basename(file))[0]

    print(f"uploading {table_name}...")
    df.to_sql(table_name,con=engine, if_exists="replace",index=False)

print("All CSVs has been uploaded successfully")

uploading Aircraft Manufacturer_data...
uploading Airline_data...
uploading Airport_data...
uploading Alcoholic Beverage Sector_data...
uploading Automachinery_data...
uploading Chemical Industry_data...
uploading Clothing and Garments_data...
uploading companies_continent_data...

C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Aircraft Manufacturer_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Airline_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Airport_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Alcoholic Beverage Sector_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Automachinery_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Chemical Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Clothing and Garments_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)

uploading Construction Industry_data...
uploading Courier Services_data...
uploading e-commerce_data...
uploading Electricity Industry_data...
uploading Food Service_data...
uploading Healthcare_data...
uploading Hotel_data...
uploading Insurance_data...

C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Construction Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Courier Services_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Electricity Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Food Service_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Healthcare_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Hotel_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Insurance_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Media and Press_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)

uploading Media and Press_data...
uploading Mining Industry_data...
uploading Non-Alcohol Beverage Sector_data...
uploading Oil And Gas Industry_data...
uploading Pharmaceutical_data...
uploading Port Industry_data...
uploading Professional Services_data...
uploading Railway Industry_data...

C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Mining Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Non-Alcohol Beverage Sector_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Oil And Gas Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Pharmaceutical_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Port Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Professional Services_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Railway Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)

uploading Real Estate Industry_data...
uploading Retail Industry_data...
uploading Technology_data...
uploading Telecommunications Industry_data...
uploading Tobacco Industry_data...
uploading Video Games Industry_data...
All CSVs has been uploaded successfully

C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Real Estate Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Retail Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Technology_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Telecommunications Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Tobacco Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)
C:\Users\Desktop-PC\AppData\Local\Temp\ipykernel_6496\1761026547.py:7: UserWarning: The provided table name 'Video Games Industry_data' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name,con=engine, if_exists="replace",index=False)